body {
  margin: 0 auto;
  max-width: 415px;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-color: black;
}
