@import "modules/_desktop_header.css";
@import "modules/_mobile_header.css";
@import "modules/_desktop_main.css";
@import "modules/_mobile_main.css";
@import "modules/_desktop_footer.css";
@import "modules/_mobile_footer.css";

* {
  font-family: Yuji Syuku, serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

body {
  margin: 0 auto;
  cursor: url("../img/icon_cursor.png"), auto;
}

.center-text {
  text-align: center;
}

.different-h2 {
  font-family: Yuji Syuku, serif;
  font-weight: 400;
}

main p {
  font-size: 18px;
  letter-spacing: -1.08px;
}

h3,
.card p {
  color: #ebe8de;
}

h2,
h3 {
  font-family: STIXGeneral;
  font-weight: 700;
}

.gold-button {
  border-radius: 15px;
  background: #d2bb5d;
  color: black;
  padding: 15px 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.footer-container {
  background-color: #d2bb5d;
  box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.25) inset;
}

h4,
.footer-container a,
.address-p {
  font-size: 20px;
}

.copyright {
  font-family: "Inter", sans-serif;
  color: #00000066;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
}

.social-icons {
  padding-right: 28px;
}

.social-icons-div {
  display: flex;
  padding-top: 20px;
  padding-bottom: 41px;
}

.card {
  background-color: #214782;
  border-radius: 27px;
}

.card img {
  border-radius: 10px;
}

.maps-icon {
  padding-left: 17px;
}

.address-div {
  display: flex;
  align-items: center;
}

h4 {
  margin: 0;
}

.footer-container a:link,
.footer-container a:visited {
  color: black;
}

.nav a:link,
.nav a:visited {
  color: white;
}

/* 



.burger-icon {
  max-width: 29px;
  max-height: 17px;
}



.social-icons {
  width: 43px;
  padding-right: 39px;
  padding-top: 20px;
}

.maps-icon {
  width: 33px;
  padding-left: 17px;
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

.social-icons-div {
  display: flex;
  flex-direction: row;
}

.flex-footer-div {
  display: flex;
  align-items: center;
}


.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  animation: scroll 10s linear infinite;
  width: 300%;
}

@keyframes scroll {
  0%,
  25% {
    transform: translateX(0);
  }
  30%,
  55% {
    transform: translateX(-33.33%);
  }
  60%,
  85% {
    transform: translateX(-66.66%);
  }
  90%,
  100% {
    transform: translateX(0%);
  }
}

.reservation-container p {
  color: rgba(0, 0, 0, 0.35);
  font-size: 18px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 11px;
  margin-right: 83px;
}
.flexbox-reservation {
  display: flex;
}

.little-gold-triangles {
  width: 15px;
}

.button {
  color: black;
  font-size: 18px;
  background: #c9c9c9;
  padding: 10px 19px;
  border-radius: 11px;
}

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1; /* permet de faire passer le lien devant le menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #ccc;
  opacity: 0; /* par défaut, le menu a une opacité de 0 */
  pointer-events: none; /* par défaut, le menu ne peut pas être cliqué */
  transition: opacity 0.3s; /* on ajoute une transition pour que l'ouverture se fasse de façon fluide */
}

.menu.is-active {
  opacity: 1; /* avec la classe is-active, le menu a une opacité de 1 */
  pointer-events: auto; /* avec la classe is-active, le menu peut être cliqué */
}
