@media (max-width: 768px) {
  header {
    height: 314px;
    background-image: url(/img/header-bg.jpg);
    border-bottom: solid 4px #d2bb5d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  header img {
    max-width: 121px;
    padding-top: 70px;
  }

  .hide-mobile,
  .nav {
    visibility: collapse;
  }
}
